@using K9.WebApplication.Helpers
@{
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.ImagePanel("Welcome", "~/Images/home/ninestar-home-bg.jpg")

        <article>
            Chakra Codes
        </article>

        <br />
    </div>
</div>