@using K9.WebApplication.Helpers
@{
    ViewBag.Background = ViewBagHelper.EViewBackground.Jarallax;
    Layout = "../Shared/_LayoutFormWide.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        <article>
            <h2 class="text-center">Chakra Codes</h2>
            

        </article>
    </div>
</div>
