@using K9.WebApplication.Enums
@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row">
        <div class="col-xs-1">
            <strong>Jan</strong>
        </div>
        <div class="col-xs-1">
            <strong>Feb</strong>
        </div>
        <div class="col-xs-1">
            <strong>Mar</strong>
        </div>
        <div class="col-xs-1">
            <strong>Apr</strong>
        </div>
        <div class="col-xs-1">
            <strong>May</strong>
        </div>
        <div class="col-xs-1">
            <strong>Jun</strong>
        </div>
        <div class="col-xs-1">
            <strong>July</strong>
        </div>
        <div class="col-xs-1">
            <strong>Aug</strong>
        </div>
        <div class="col-xs-1">
            <strong>Sep</strong>
        </div>
        <div class="col-xs-1">
            <strong>Oct</strong>
        </div>
        <div class="col-xs-1">
            <strong>Nov</strong>
        </div>
        <div class="col-xs-1">
            <strong>Dec</strong>
        </div>
    </div>
    <div class="row">
        @{
            var monthEnergy = Model.CurrentYear.ChakraCodeNumber - 6;

            for (int i = 0; i < 12; i++)
            {
                monthEnergy = monthEnergy < 1 ? (9 + monthEnergy) : monthEnergy;

                <div class="col-xs-1">
                    @monthEnergy
                </div>

                monthEnergy++;
            }
        }
    </div>
</div>