@model K9.WebApplication.Models.ChakraCodeDetails

<div class="chakra-code-container">
    <h3>@Model.TypeName</h3>
    <div class="chakra-code dominant" style="background-color: @Model.Colour.ToLower();">
        <p>@Model.Name</p>
    </div>
</div>