@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row">
        <div class="col-xs-3">
            <strong>Age</strong>
        </div>
        <div class="col-xs-3">
            <strong>Year</strong>
        </div>
        <div class="col-xs-3">
            <strong>Chakra Code</strong>
        </div>
        <div class="col-xs-3">
            <strong>Dharmic Chakra Code</strong>
        </div>
    </div>
    @foreach (var code in Model.DharmaCodes)
    {
        <div class="row">
            <div class="col-xs-3">
                @code.Age
            </div>
            <div class="col-xs-3">
                @code.Year
            </div>
            <div class="col-xs-3">
                @code.ChakraCodeNumber
            </div>
            <div class="col-xs-3">
                @code.DharmaChakraCodeNumber
            </div>
        </div>
    }
</div>