@using K9.WebApplication.Enums
@using K9.WebApplication.Models
@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row month-chakra-code-container">
        <div class="col-xs-1">
            <strong>Jan</strong>
        </div>
        <div class="col-xs-1">
            <strong>Feb</strong>
        </div>
        <div class="col-xs-1">
            <strong>Mar</strong>
        </div>
        <div class="col-xs-1">
            <strong>Apr</strong>
        </div>
        <div class="col-xs-1">
            <strong>May</strong>
        </div>
        <div class="col-xs-1">
            <strong>Jun</strong>
        </div>
        <div class="col-xs-1">
            <strong>July</strong>
        </div>
        <div class="col-xs-1">
            <strong>Aug</strong>
        </div>
        <div class="col-xs-1">
            <strong>Sep</strong>
        </div>
        <div class="col-xs-1">
            <strong>Oct</strong>
        </div>
        <div class="col-xs-1">
            <strong>Nov</strong>
        </div>
        <div class="col-xs-1">
            <strong>Dec</strong>
        </div>
    </div>
    <div class="row">
        @foreach (var code in Model.CurrentYearMonthCodes)
        {
            <div class="col-xs-1 month-chakra-code-container @code.IsCurrentCssClass">
                <p>@Html.Partial("_ChakraCodeSmall", new ChakraCodeDetails
                   {
                       ChakraCode = code.ChakraCode,
                       TypeName = ""
                   })</p>
                <p>@code.StartDate.ToShortDateString() - @code.EndDate.ToShortDateString()</p>
            </div>
        }
    </div>
</div>