@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row">
        <div class="col-xs-4">
            <strong>Year</strong>
        </div>
        <div class="col-xs-4">
            <strong></strong>
        </div>
        <div class="col-xs-4">
            @Html.Partial("_ChakraCode", Model.Dominant)
        </div>
    </div>
    @for (int i = 0; i < 100; i++)
    {
        var year = Model.PersonModel.DateOfBirth.Year + i;

        <div class="row">
            <div class="col-xs-4">
                @year
            </div>
            <div class="col-xs-4">
                @Html.Partial("_ChakraCode", Model.Dominant)
            </div>
            <div class="col-xs-4">
                @Html.Partial("_ChakraCode", Model.Dominant)
            </div>
        </div>
    }

</div>