@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.ChakraCodesModel
@{
    Layout = "../Shared/_LayoutFormWide.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        <article>
            <h2 class="text-center">Chakra Codes</h2>

            <br />

            <div class="chakra-image-container">
                <img class="chakra-image" src="~/Images/chakracodes/chakra-person.jpg" />
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-12 padding-0">
                    @Html.Partial("_Calculator")
                </div>
                <div class="col-md-10 col-sm-12 padding-left-20-desktop padding-right-0">
                    @if (Model?.IsProcessed == true)
                    {
                        @Html.Partial("_ChakraCodesMain")

                        @Html.Partial("_ChakraCodesMonthlyPlanner")

                        @*@Html.Partial("_ChakraCodesYearlyPlanner")*@
                    }
                </div>
        </article>
    </div>
</div>


