.full-height {
    height: 100vh !important;
}

.chakra-code-container {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    width: 100%;
}

    .chakra-code-container h3 {
        text-align: center;
    }

.chakra-code {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
}

    .chakra-code p {
        text-align: center;
        width: 100%;
    }

.Dominant {
    font-weight: bold;
    font-size: 1.4em;
    width: 200px;
    height: 200px;
}

.chakra-image-container {
    width: 100%;
}

.chakra-image {
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    display: block;
}

.timeline {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
}

    .timeline .year-span {
        border-right: 1px solid #eee;
        width: 100%;
        text-align: center;
    }

    .timeline .active {
        -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    }

        .timeline .active span {
            font-weight: bold;
        }
